.carousel{
    width: 1240px;
    height: 415px;
    flex-shrink: 0;
    border-radius: 25px;
    background: lightgray 50% / cover no-repeat;
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;

    
    @media screen and (min-width: 375px) and (max-width: 768px){
        width: 335px;
        height: 255px;  
        border-radius: 10px;
      }

    .slide{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        border-radius: 25px;
        object-fit: cover; 

        @media screen and (min-width: 375px) and (max-width: 768px) {
            width: 335px;
            height: 255px; 
            border-radius: 10px;
        }
    }
    .slide-hidden{
        display:none;
    }

    .arrow{
        position: absolute;
        // top: 50%;
        bottom: 179px;
        width: 46.68px;
        height: 79.2px;
        flex-shrink: 0;
        
        @media screen and (min-width: 375px) and (max-width: 768px) {
            width: 20px;
            height: 25px;
            bottom: 115px;
        }
    }
    .left{
        left: 10px;
    }

    .right{
        right: 10px;
    }
  
    .slidenumber{
        position: absolute;
        bottom: 25px;
        left:50%;  

        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
    }       
    
}