.Footer {
    background-color: black;
    height: 209px;
    padding: 66px 464px 29px 463px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items:center;
  
    p {
      width: 513px;
      height: 46px;
      top: 134px;
      left: 463px;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      line-height: 34.22px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  
    img{
      width: 122px;
      height: 39.44px;
      top: 66px;
      left: 659px;
      gap: 0px;
      opacity: 0px;
  
    }
  }