.tags-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:10px;
    padding-top: 20px;
    padding-bottom: 24px;
    box-sizing: border-box;
    

    @media screen and (min-width: 375px) and (max-width: 768px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 115px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF6060;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 19.964px */

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}