.cardlist{
    width: 1240px;
    height: 829px;
    flex-shrink: 0; 
    border-radius: 25px;
    background: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:50px;
    padding:50px 56px;
    box-sizing: border-box;
}