.host-container{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
gap:10px;

    .hostname{
        width: 93px;
        height: 52px;
        color: #FF6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
    }

    img{
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 50%;
    }
}