
.Header{
  display: flex;
  width: 1240px;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 720.678px;
  flex-shrink: 0;
  margin-bottom: 50px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
  }

    img{
      width: 210.322px;
      height: 68px;
      flex-shrink: 0;
      @media (max-width: 768px) {
        width: 145px;
        height: 46.881px;
      }
    }

    nav {
      display: flex;
      align-items: flex-start;
      gap: 57px;
      margin: 0;      
    
      a {
        width: 116px;
        color: #000;
        text-align: right;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 34.224px;
        text-decoration-line: none;
      }

      a.active {
        text-decoration-line: underline;
      }
    }
  }
 