body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Header{
  
  nav {
    width: Hug (309px)px;
    height: Hug (34px)px;
    top: 17px;
    left: 931px;
    gap: 57px;
    opacity: 0px;
    border-color: blue;
    border-style: solid;
  
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
  
    color: rgba(0, 0, 0, 1);
    display: flex;
  
    a {
      width: Hug (309px)px;
      height: Hug (34px)px;
      top: 17px;
      left: 931px;
      gap: 57px;
      opacity: 0px;
    
      border-color: rgb(106, 255, 0);
      border-style: solid;
  
    }
  
    
  
  }
}


.Footer {
  background-color: black;
  height: 209px;
  padding: 66px 464px 29px 463px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items:center;

  p {
    width: 513px;
    height: 46px;
    top: 134px;
    left: 463px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  img{
    width: 122px;
    height: 39.44px;
    top: 66px;
    left: 659px;
    gap: 0px;
    opacity: 0px;

  }
}